name: CI

on:
    pull_request:
        branches: [main]
    push:
        branches: [main, dev]

permissions:
    contents: read
    packages: read
    pull-requests: write

jobs:
    ci:
        uses: octopus-synapse/octopus-workflows/.github/workflows/ci.yml@main
        with:
            package-manager: "bun"
            has-database: false
            has-redis: false
            has-smoke-tests: false
            build-output-dir: "dist"
        secrets:
            NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
